<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624376908088-jjq56scml7708lqg087a9tc702lhpoeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624376908088-jjq56scml7708lqg087a9tc702lhpoeu</string>
	<key>API_KEY</key>
	<string>AIzaSyD6yo-2qc3u8wPjjR_NHevqr2wOAYQFI04</string>
	<key>GCM_SENDER_ID</key>
	<string>624376908088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>animal109.conm.tw.patHosMap</string>
	<key>PROJECT_ID</key>
	<string>artful-tractor-285603</string>
	<key>STORAGE_BUCKET</key>
	<string>artful-tractor-285603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624376908088:ios:82241c59c3eaf8046659cd</string>
	<key>DATABASE_URL</key>
	<string>https://artful-tractor-285603-default-rtdb.firebaseio.com</string>
</dict>
</plist>